.container {
    display: flex;
    text-align: center;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.kvadratas {
    height: 300px;
    width: 300px;
    background-color: red;
    text-shadow: 2px 2px 5px black;
    box-shadow:  20px 20px silver;
}

.apskritimas {
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 50%;
    text-shadow: 2px 2px 5px black;
    box-shadow:  10px 10px silver;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}
