.rainbow {
     background-image: url("https://cdn1.iconfinder.com/data/icons/weather-19/32/rainbow-512.png");
     width: 500px;
     height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
 }

.sunny {
    background-image: url("https://www.freeiconspng.com/uploads/sunny-icon-9.png");
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.rain {
    background-image: url("https://cdn3.iconfinder.com/data/icons/picons-weather/57/15_heavy_rain-512.png");
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cloudy {
    background-image: url("https://cdn3.iconfinder.com/data/icons/sunnyday-2/142/Partly_Cloudy-512.png");
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

